<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error { color: darkred; }
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    </style>
</head>
<body>
    <p><i>Fill out the form. Asterisk (*) means required.</i></p>
    <form th:action="@{/processForm}" th:object="${customer}" method="post">
        <div>First Name: <input type="text" th:field="*{firstName}"></div>
        <div>
            Last Name (*): <input type="text" th:field="*{lastName}">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
        </div>
        <div>
            Free passes (*): <input type="number" th:field="*{freePasses}">
            <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>
        </div>
        <div>
            Postal Code: <input type="text" th:field="*{postalCode}">
            <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>
        </div>
        <div><input type="submit" value="Submit"></div>
    </form>
</body>
</html>