<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
    <h1>Company Home Page</h1>
    <hr>
    <p>Welcome to the company home page!</p>
    <hr>
    <p>User: <span sec:authentication="principal.username"></span></p>
    <p>Role(s): <span sec:authentication="principal.authorities"></span></p>
    <hr>
    <p><a th:href="@{/leaders}">Leadership Meeting</a> (Only for managers)</p>
    <hr>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>